<div class="container">
    <h1>Welcome to GADS2020 Learners Workshop</h1>
    <hr/>
    <div class="container">

        <h2>Learner Information</h2>
        <h3>Current Learner: {{ currentLearner }}</h3>
        <hr />
    </div>
    <div class="row">
        <div class="col">
            <h4>{{title}}</h4>
            <img src="{{itemImageUrl}}">
            <h4>See other learners</h4>
            <ul>
                <li *ngFor="let learner of learners">{{learner.name}}</li>
            </ul>
        </div>

        <div class="col">
            <h4>{{currentLearner + " " + recommended}}</h4>
            <img [src]="itemImageUrl2">
        </div>

        <div class="col">
            <br>
            <div (keyup)="0">

                <label>HTML Attribute Initializes to "Sibonelo":
          <input type="text" value="Sibonelo" #bindingInput></label>

                <div>
                    <button (click)="getDOMPropertyValue()">Get DOM property value</button> <br>Changeable. Angular works with these.
                </div>
            </div>
        </div>
    </div>

    <app-vote-taker></app-vote-taker><br><br>
    <hr />
    <footer>
        <p>Author: Sydney Ozegbe</p>
        <p><a href="mailto:far2come@gmail.com">far2come@gmail.com</a></p>
        <p> Powered by
            <a href="http://angular.io/license"> Angular </a>
        </p>
    </footer>

</div>